doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    // Meta, title, CSS, favicons, etc.
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title My OEE 
    // Bootstrap
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    // Font Awesome
    link(rel='stylesheet', href='/stylesheets/font-awesome.css')
    // Custom Theme Style
    link(rel='stylesheet', href='/stylesheets/custom.css')
  body.nav-md
    .container.body
      .main_container
        block content
        include ../includes/topbar
